<template lang="html">
    <tr>
        <td>
            <input type="text" class="form-control" v-model="editForm.medrec" v-if="edit" />
            <span v-else>{{ relation.medrec }}</span>
        </td>

        <td>
            <input type="text" class="form-control" v-model="editForm.ndc" v-if="edit" />
            <span v-else>{{ relation.ndc }}</span>
        </td>

        <td>
            <button type="button" class="btn btn-info" v-on:click="editRelation" v-if="!edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default" v-on:click="cancelEdit" v-if="edit"><i class="fa fa-undo" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary" v-on:click="updateRelation(relation, editForm)" v-if="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger" v-on:click="$emit('delete-relation', source)" v-if="!edit"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
    </tr>
</template>

<script>
export default {
    props:['relation'],
    data(){
        return {
            edit: false,
            editForm: {
                medrec: '',
                ndc: ''
            }
        }
    },
    methods: {
        editRelation() {
            this.edit = true;
            this.editForm.medrec = this.relation.medrec;
            this.editForm.ndc = this.relation.ndc;
        },
        cancelEdit() {
            this.edit = false;
            this.editForm.medrec = '';
            this.editForm.ndc = '';
        },
        updateRelation(oldRelation, newRelation) {
            this.$http.put('api/v0/relation/' + oldRelation.id, newRelation).then(response => {
                this.$emit('update-relation');
                this.cancelEdit();
                console.log(response.data);
            }, (response) => {
                console.log(response.data);
            });
        }
    }
}
</script>