<template lang="html">
    <div>
        <form v-on:submit.prevent="createRelation" method="post">
            <div v-bind:class="{'form-group': true, 'has-error': errors.medrec}">
                <label>MEDREC:</label>
                <input type="text" v-model="relation.medrec" class="form-control" />
                <span class="help-block" v-for="error in errors.medrec">{{ error }}</span>
            </div>

            <div v-bind:class="{'form-group': true, 'has-error': errors.ndc}">
                <label>NDC:</label>
                <input type="text" v-model="relation.ndc" class="form-control" />
                <span class="help-block" v-for="error in errors.ndc">{{ error }}</span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create New Relation</button>
            </div>
        </form>
        <ul class="pagination">
            <button @click="prev()">&laquo;</button>
            <button @click="next()">&raquo;</button>
        </ul>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>MEDREC</th>
                <th>NDC</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
                <Relation v-for="relation in relations" v-bind:relation="relation" v-on:delete-relation="deleteRelation" v-on:update-relation="fetchRelations">
                </Relation>
            </tbody>
        </table>
    </div>
</template>

<script>
import Relation from './Relation.vue';

export default {
    data(){
        return {
            relations: [],
            errors: [],
            relation:{
                medrec: '',
                ndc: ''
            },
            endPoint: 'api/v0/relation',
            nextPage: null,
            prevPage: null
        }
    },
    components:{ Relation },
    created(){
        this.fetchRelations();
    },
    methods: {
        fetchRelations(target = null) {
            if (target === null) {
                target = this.endPoint;
            }
            this.$http.get(target).then(response => {
                this.relations = response.data.data;
                this.nextPage = response.data.next_page_url;
                this.prevPage = response.data.prev_page_url;
            });
        },

        createRelation() {
            this.$http.post(this.endPoint, this.relation).then(response => {
                this.relations.push(response.data);
                this.relation = {medrec:'', ndc: ''};
                if (this.errors) {
                    this.errors = [];
                }
                console.log(response.data);
            }, response => {
                this.errors = response.data;
            });
        },

        deleteRelation(relation) {
            this.$http.delete(this.endPoint + '/' + relation.id).then(response => {
                let index = this.relations.indexOf(relation);
                this.relations.splice(index, 1);
                console.log(response.data);
            });
        },

        next() {
            this.fetchRelations(this.nextPage)
        },

        prev() {
            this.fetchRelations(this.prevPage)
        }
    }
}
</script>
