<template lang="html">
    <div>
        <form v-on:submit.prevent="fetchSearch" method="post">
            <div v-bind:class="{'form-group': true, 'has-error': errors.name}">
                <label>Name:</label>
                <input type="text" v-model="search.name" class="form-control" @keyup="fetchSearch()" />
                <span class="help-block" v-for="error in errors.name">{{ error }}</span>
            </div>

            <div v-bind:class="{'form-group': true, 'has-error': errors.amount}">
                <label>Amount:</label>
                <input type="text" v-model="search.amount" class="form-control" @keyup="fetchSearch()" />
                <span class="help-block" v-for="error in errors.amount">{{ error }}</span>
            </div>

            <div v-bind:class="{'form-group': true, 'has-error': errors.raw}">
                <label>Raw:</label>
                <input type="checkbox" v-model="search.raw" class="form-control" @change="fetchSearch()" />
                <span class="help-block" v-for="error in errors.raw">{{ error }}</span>
            </div>

            <div v-bind:class="{'form-group': true, 'has-error': errors.force}">
                <label>Force cache:</label>
                <input type="checkbox" v-model="search.force" class="form-control" @change="fetchSearch()" />
                <span class="help-block" v-for="error in errors.force">{{ error }}</span>
            </div>
        </form>
        <ul class="pagination">
            <button @click="prev()">&laquo;</button>
            <button @click="next()">&raquo;</button>
        </ul>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ICD</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
            </thead>

            <tbody>
                <tr v-for="result in results">
                    <td>
                        <span>{{ result.icd }}</span>
                    </td>

                    <td>
                        <span>{{ result.name }}</span>
                    </td>

                    <td>
                        <span>{{ result.ndc_count }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data(){
        return {
            results: [],
            errors: [],
            search: {
                name: null,
                amount: null,
                force: false,
                raw: false
            },
            endPoint: 'api/v0/search',
            nextPage: null,
            prevPage: null,
            currentPage: 1
        }
    },
    created(){
        this.fetchSearch();
    },
    methods: {
        fetchSearch() {
            var target = this.endPoint;
            if (this.search.raw) {
                target = target + 'SQL';
            }

            target = target + '?';

            if (this.search.name) {
                target = target + 'name=' + this.search.name + '&';
            }

            if (this.search.amount) {
                target = target + 'count=' + this.search.amount + '&';
            }

            if (this.search.page > 1) {
                target = target + 'page=' + this.search.page + '&';
            }

            if (this.search.force) {
                target = target + 'force=' + this.search.force;
            }

            this.$http.get(target).then(response => {
                this.results = response.data.data;
                this.nextPage = response.data.next_page_url;
                this.prevPage = response.data.prev_page_url;
                this.currentPage = response.data.current_page;
            });
        },

        next() {
            if (this.nextPage !== null) {
                this.currentPage++;
                this.fetchSearch();
            }
        },

        prev() {
            if (this.prevPage !== null) {
                this.currentPage--;
                this.fetchSearch();
            }
        }
    }
}
</script>
