<template lang="html">
    <div>
        <form v-on:submit.prevent="createSource" method="post">
            <div v-bind:class="{'form-group': true, 'has-error': errors.name}">
                <label>Name:</label>
                <input type="text" v-model="source.name" class="form-control" />
                <span class="help-block" v-for="error in errors.name">{{ error }}</span>
            </div>

            <div v-bind:class="{'form-group': true, 'has-error': errors.medrec}">
                <label>MEDREC:</label>
                <input type="text" v-model="source.medrec" class="form-control" />
                <span class="help-block" v-for="error in errors.medrec">{{ error }}</span>
            </div>

            <div v-bind:class="{'form-group': true, 'has-error': errors.icd}">
                <label>ICD:</label>
                <input type="text" v-model="source.icd" class="form-control" />
                <span class="help-block" v-for="error in errors.icd">{{ error }}</span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create New Source</button>
            </div>
        </form>
        <ul class="pagination">
            <button @click="prev()">&laquo;</button>
            <button @click="next()">&raquo;</button>
        </ul>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>MEDREC</th>
                <th>ICD</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
                <Source v-for="source in sources" v-bind:source="source" v-on:delete-source="deleteSource" v-on:update-source="fetchSources">
                </Source>
            </tbody>
        </table>
    </div>
</template>

<script>
import Source from './Source.vue';

export default {
    data(){
        return {
            sources: [],
            errors: [],
            source:{
                name: '',
                medrec: '',
                icd: ''
            },
            endPoint: 'api/v0/source',
            nextPage: null,
            prevPage: null
        }
    },
    components:{ Source },
    created(){
        this.fetchSources();
    },
    methods: {
        fetchSources(target = null) {
            if (target === null) {
                target = this.endPoint;
            }
            this.$http.get(target).then(response => {
                this.sources = response.data.data;
                this.nextPage = response.data.next_page_url;
                this.prevPage = response.data.prev_page_url;
            });
        },

        createSource() {
            this.$http.post(this.endPoint, this.source).then(response => {
                this.sources.push(response.data);
                this.source = {name: '', medrec:'', icd: ''};
                if (this.errors) {
                    this.errors = [];
                }
                console.log(response.data);
            }, response => {
                this.errors = response.data;
            });
        },

        deleteSource(source) {
            this.$http.delete(this.endPoint + '/' + source.id).then(response => {
                let index = this.sources.indexOf(source);
                this.sources.splice(index, 1);
                console.log(response.data);
            });
        },

        next() {
            this.fetchSources(this.nextPage)
        },

        prev() {
            this.fetchSources(this.prevPage)
        }
    }
}
</script>
