<template lang="html">
    <tr>
        <td>
            <input type="text"  class="form-control" v-model="editForm.name" v-if="edit" />
            <span v-else>{{ source.name }}</span>
        </td>

        <td>
            <input type="text" class="form-control" v-model="editForm.medrec" v-if="edit" />
            <span v-else>{{ source.medrec }}</span>
        </td>

        <td>
            <input type="text" class="form-control" v-model="editForm.icd" v-if="edit" />
            <span v-else>{{ source.icd }}</span>
        </td>

        <td>
            <button type="button" class="btn btn-info" v-on:click="editSource" v-if="!edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default" v-on:click="cancelEdit" v-if="edit"><i class="fa fa-undo" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary" v-on:click="updateSource(source, editForm)" v-if="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger" v-on:click="$emit('delete-source', source)" v-if="!edit"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
    </tr>
</template>

<script>
export default {
    props:['source'],
    data(){
        return {
            edit: false,
            editForm: {
                name: '',
                medrec: '',
                icd: ''
            }
        }
    },
    methods: {
        editSource() {
            this.edit = true;
            this.editForm.name = this.source.name;
            this.editForm.medrec = this.source.medrec;
            this.editForm.icd = this.source.icd;
        },
        cancelEdit() {
            this.edit = false;
            this.editForm.name = '';
            this.editForm.medrec = '';
            this.editForm.icd = '';
        },
        updateSource(oldSource, newSource) {
            this.$http.put('api/v0/source/' + oldSource.id, newSource).then(response => {
                this.$emit('update-source');
                this.cancelEdit();
                console.log(response.data);
            }, (response) => {
                console.log(response.data);
            });
        }
    }
}
</script>